@font-face {
  font-weight: 400;
  font-family: 'orbitronregular';
  font-style: normal;
  src: url("../fonts/orbitron-medium-webfont.woff2") format("woff2"),
    url("../fonts/orbitron-medium-webfont.woff") format("woff");
}
